@charset "UTF-8";

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  color: #696969;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
}

.image {
  aspect-ratio: 4 / 3;
  object-fit: cover;
}
.wrapper {
  max-width: 960px;
  margin: auto;
  align-items: center;
  padding: 0 4%;
  text-align: center;
}
/*h2タグ*/
.article_title {
  text-decoration: underline;
  text-underline-offset: 0.8rem;
  text-decoration-color: #696969;
  margin-bottom: 60px;
  font-size: 2.8rem;
  text-align: center;
}

/*h3*/
.content_title {
  font-size: 2.4rem;
  margin-bottom: 10px;
}

/*ヘッダー部分*/
header {
  display: flex;
  justify-content: space-between;
}

.site_title {
  width: 120px;
  line-height: 0;
  padding: 10px 0;
}

.site_title a {
  display: block;
}

.main_nav {
  display: flex;
  list-style-type: none;
}

.main_nav li{
  padding: 10px 0;
  margin-left: 30px;
}

.main_nav li a {
  color: #333;
}

.main_nav li a:hover {
  opacity: 0.7;
}

/*メインビジュアル部分*/
#mainvisual {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

#mainvisual img {
  width: min(100%, 1920px);
  height: 600px;
  object-fit: cover;     /*左右トリミング*/
}

/*About部分*/
#about {
  margin-bottom: 60px;
}

.about_content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about_content img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 40px;
}

.about_content_text {
  text-align: left;
}

/*Bicycle部分*/
#bicycle {
  margin-bottom: 100px;
}

#bicycle ul {
  display: flex;
  justify-content: space-between;
}

#bicycle li {
  width: 32%;
}

/*footer部分*/
footer {
  text-align: center;
  font-size: 1.2rem;
  padding: 10px 0;
}

@media screen and (max-width: 600px) {
  #mainvisual img {
    height: calc(100vh - 60px);
  }

  .about_content {
    flex-direction: column;
  }

  #bicycle ul {
    flex-direction: column;
  }

  #bicycle li {
    width: auto;
    margin-bottom: 30px;
  }
}